<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>

  </system.webServer>
  <connectionStrings>
    <add name="LanchoneteDBConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LanchoneteDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

<system.web>
  <authentication mode="Forms">
    <forms name=".aspxauth" protection="All" timeout="30" loginUrl="404.aspx"></forms>
  </authentication>
  <authorization>
    <deny users="?"/>
  </authorization>
    
</system.web>
  <!--Aut adm-->
  <location path="AdminHome.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>   
      </authorization>
    </system.web>
  </location>

  <location path="Tipodeprod.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="ListaProdutos.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>
  
   <location path="VisualizaPedidos.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>


  <location path="Produtos.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>

  <location path="EditarProduto.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>
  
   <location path="DetalheProduto.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>

  <!--Usuario-->
  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Entrar.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Sugestao.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="FaleConosco.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
   <location path="MeusPedidos.aspx">   
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
 
  <location path="DadosSenha.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="UsuarioHome.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Carrinho.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DadosEndereco.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DadosInformacoes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>



  <location path="Esqueciasenha.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Pagamento.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
    <location path="Cadastro.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Produtosdetalhes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Produtosmenu.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Recuperarsenha.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="SobreNos.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  
</configuration>